/* _______________________________________________________________________________________@media   */


@media (min-width:576px)and (max-width:1000px){       /* smarthone and tablet */

    /* _________________________________________________________________@media for Layout_1 */
        #Layout_1 nav ul{
            padding-left:   39px;
            width:          553.536px;
        }
        
        #Layout_1 nav ul > li > a{
            width:          135.36px;
        }
    
        #Layout_1 #wrapper{
            width:          576px;
        }
    
        #Layout_1 #wrapper main{
            width:          435.456px;
        }
    
        #Layout_1 .boxes{
            height:         135.36px;
            width:          135.36px;
        }
        
        #Layout_1 .boxes > section{
            height:         57.6px;
            width:          57.6px;
        }
    
        #Layout_1 #boxes2{
            padding-left:   86.28px;
        }
    
        #Layout_1 #wrapper aside{
            width:          140.544px;
        }
    
        #Layout_1 #box{
            margin-top:     115.2px;
            margin-left:    46.08px;
            height:         33.408px;
            width:          84.672px;
        }
        
    /* ________________________________________________________________@media for Layout_2 */
    
        #Layout_2 nav{
            height:         436.608px;
            width:          84.096px;
        }
    
        #Layout_2 nav ul{
            width:          84px;
        }
    
        #Layout_2 nav ul > li > a{
            height:         33.408px;
            width:          80.064px;
            line-height:    33.408px;
        }
    
        #Layout_2 #wrapper{
            width:          576px;
        }
    
        #Layout_2 #wrapper main{
            height:         436.608px;
            width:          344.448px;
        }
    
        #Layout_2 #wrapper main > section > section{
            width:          154.368px;
        }
    
        #Layout_2 #column1 > section:first-child{
            height:         186.048px;
        }
        #Layout_2 #column1 > section:nth-child(2){
            margin-top:     230.048px;
            height:         237.312px;
        }
        #Layout_2 #column2 > section:first-child{
            height:         145.152px;
        }
        #Layout_2 #column2 > section:nth-child(2){
            height:         209.088px;
        }
    
        #Layout_2 #wrapper aside{
            height:         436.608px;
            width:          147.456px;
        }
    
        #Layout_2 .boxes{
            height:         135.36px;
            width:          135.36px;
        }
    
        #Layout_2 .boxes > section{
            height:         57.6px;
            width:          57.6px;
        }
    
        /* #Layout_2 #footer_holder{     /*need to be fixed*//*
            top:            628.608px;
            margin:         0;
        }
    
        #Layout_2 #footer_holder > footer{
            height:         50px;
            width:          576px;
        } */
    }